.card__wrapper{
    background-color: #F4F4F4;
    padding-top: 12px;
}
.card__wrapper-inner{
    display: flex;
    justify-content: space-between;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 761px;
    margin-bottom: 91px;
}
.card {
    background-color: #fff;
    padding: 5px 5px 13px;
    width: 185px;
    height: 179px;
    border-radius: 5px;
    margin-bottom: 17px;
}
.card__img {
    border-radius: 5px;
    width: 177px;
    height: 111px;
    margin-bottom: 6px;
}
.card__plays{
    display: flex;
    margin-bottom: 5px;
    font-size: 6px;
    line-height: 7px;
    font-weight: 700;
    color: #ABA7A7;
}
.card__play{
    margin-right: 9px;
    position: relative;
    z-index: 1;
}
.card__play::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #ABA7A7;
    left: 17px;
    top: 2px;
    z-index: 2;
}
.play::after{
    left: 12px;
}
.card__title {
    font-weight: 700;
    margin-bottom: 10px;
}
.cost {
    color: #5F2EEA;
    font-size: 9px;
    line-height: 11px;
    font-weight: 700;
}
.card__wrapper-cost{
    background-color: #fff;
    width: 306px;
    height: 445px;
    padding: 20px 15px 30px 8px;
}
.card__cost{
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 11px;
    position: relative;
}
.card__cost::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 14px;
    background-color: #000;
    top: 8px;
    right: 0;
}
.input-wrapper{
    margin-bottom: 11px;
    font-size: 9px;
    line-height: 11px;
    color: #C4C4C4;
    font-weight: 700;
    display: flex;
    align-items: center;
 }
 .input-wrapper:checked{
    color: #5F2EEA;
 }
 .slider input {
    width: 90%;
    margin-bottom: 20px;
  }
  .count-wrapper{
      display: flex;
      justify-content: space-between;
      margin-bottom: 41px;
      font-size: 7px;
      line-height: 8px;
      cursor: pointer;
  }
  .count__from,
  .count__till{
     border: 1px solid #5F2EEA;
     width: 37px;
     height: 18px;
     display: flex;
     align-items: center;
     justify-content: center;
  }
  .count__till{
    margin-right: 23px;
  }
  
 .second{
     margin-bottom: 25px;
 }
 .fourth{
     margin-bottom: 51px;
 }
.btn__wrappers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn__cost{
    display: block;
    width: 156px;
    height: 25px;
    color: #fff;
    font-weight: 700;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    background-color: #5F2EEA;
    border: none;
    cursor: pointer;
    transition: box-shadow ease-in .3s;
}
.btn__cost:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn__use{
    margin-bottom: 15px;
}
.cards__pagination{
    display: flex;
    justify-content: center;
    color: #fff;
    margin: 0 auto;
    font-size: 5px;
    line-height: 6px;
    font-weight: 400;
    cursor: pointer;
    transition: background ease-in .3s;
    margin-top: 91px;
}
.num,
.num-t{
    background-color: #C4C4C4;
    width: 10px;
    height: 10px;
    text-align: center;
    margin-right: 7px;
    padding-top: 2px;
}
.num:hover{
    background-color: #5F2EEA;
}
.num-t{
    color: #5F2EEA;
    background-color: transparent;
    font-size: 18px;
    line-height: 0;
}