*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-size: 10px;
    line-height: 12px;
}
.container{
    max-width: 1120px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}